.sidenote {
  display: inline;
  counter-increment: sidenote-counter;
}

@media not all and (min-width: 1024px) {
  .sidenote-checkbox ~ .sidenote-content {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.sidenote-checkbox:checked {
  @media not all and (min-width: 1024px) {
    & ~ .sidenote-content {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0.5rem 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
      left: auto;
      float: left;
      display: block;
      min-width: 100%;
      padding-left: 1rem;
      color: var(--color-primary);
    }
  }

  & ~ .sidenote-mark {
    text-decoration-line: none;
  }

  @media not all and (min-width: 1024px) {
    & ~ .sidenote-mark {
      color: var(--color-primary);
    }
  }
}

.sidenote:active,
.sidenote:active .sidenote-content,
.sidenote:hover .sidenote-mark::after,
.sidenote:hover .sidenote-content::before {
  color: var(--color-primary);
}

.sidenote-mark {
  &::after {
    display: inline;
    vertical-align: super;
    font-size: var(--text-sm);
    line-height: 1;
    font-weight: 600;
    content: counter(sidenote-counter);
    color: var(--color-text-offset);
  }

  @media not all and (min-width: 1024px) {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

    &::after {
      display: none;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sidenote-mark {
    transition: color var(--transition-duration) ease;
  }
}

.sidenote-content {
  color: var(--color-text-offset);
  font-family: var(--font-body);
  font-size: var(--text-base);

  &::before {
    position: absolute;
    left: -4rem;
    top: 0;
    bottom: 0;
    display: flex;
    width: 3.5rem;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: var(--text-sm);
    font-weight: 600;
    content: counter(sidenote-counter) ".";
    color: var(--color-text-offset);
  }

  @media not all and (min-width: 1024px) {
    &::before {
      display: none;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sidenote-content {
    transition: color var(--transition-duration) ease;
  }
}

@media (min-width: 1024px) {
  .sidenote-content {
    position: absolute;
    right: 0;
    width: 48rem;
    cursor: default;
    margin-right: calc(-1 * 6rem - 1 * 4rem);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}
